<!-- sign in, link to sign up -->

<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="loginForm" class="card-body">
        <label class="form-label" for="usernameLogin">Username</label>
        <input id="usernameLogin" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="passwordLogin">Password</label>
        <input id="passwordLogin" type="password" autofocus="true" class="form-input" />

        <button type="submit" class="btn">Log in!</button>
        <a class="loginLink" href="/signup">Don't have an account? Sign up!</a>
    </form>
</div>

<script src="/js/login.js"></script>