<!-- View all posts you have made -->

{{#if posts.length}}
<section>
    <h2>{{user.name}}</h2>
    {{#each posts as |post|}}
    {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">Write a New Post!</a></button>

<script src="/js/writePosts.js"></script>